{% extends 'libapp/base.html' %}
{% block body_block %}
    <div align="center">
    <div style=" width: 22%"><br/>
     <div class="col s12 z-depth-5 card-panel">
    <form action="/app/myacct/" method="post" id="aclass" enctype="multipart/form-data">{% csrf_token %}
    <div style="width: 70%; border-radius: 5px" align="center">
        <p style="text-align: center; font-size: 35px" class="flow-text">Edit Profile</p>
            {% if added == True %}
        <div id="alert1" class="card-panel white lighten-2 green-text" style="line-height: 0; width: 65%;">
   <a href="/app/myacct/" id="close1" class="close green-text" style="vertical-align: inherit; padding-bottom: 120px" data-dismiss="alert" aria-label="close">&times;</a>
        Record Updated.
    </div><br/>
    {% endif %}
        {% if failed == True%}
        <div id="alert1" class="card-panel white lighten-2 red-text" style="line-height: 0; width: 65%;">
   <a href="/app/myacct/" id="close1" class="close" style="vertical-align: inherit; padding-bottom: 120px" data-dismiss="alert" aria-label="close">&times;</a>
        Record was not added.
    </div><br/>
    {% endif %}
        <div class="form-group">
            {{ form.as_p }}<br/>
        <button type="submit" class="btn btn-primary btn-lg" value="Submit">Submit</button>
        </div>
        </div>
    </form>
    </div>
    </div>
    </div>
{% endblock %}