{% extends 'libapp/base.html' %}
{% block body_block %}
    <div align="center">
<div style="width: 25%; align-items: center; padding-top: 3%" align="center">
    <div class="col s12 z-depth-5 card-panel">
        <h4>Registration Form!</h4><br/><br/>
        <div style="width: 75%">
            {% if added == True %}
        <div id="alert1" class="card-panel white lighten-2 green-text" style="line-height: 0; width: 65%;">
   <a href="/app/register/" id="close1" class="close green-text" style="vertical-align: inherit; padding-bottom: 120px" data-dismiss="alert" aria-label="close">&times;</a>
        Record was added.
    </div><br/>
    {% endif %}
        {% if failed == True%}
        <div id="alert1" class="card-panel white lighten-2 red-text" style="line-height: 0; width: 65%;">
   <a href="/app/register/" id="close1" class="close" style="vertical-align: inherit; padding-bottom: 120px" data-dismiss="alert" aria-label="close">&times;</a>
        Record was not added.
    </div><br/>
    {% endif %}
            <p id = "pwddet" class="card-panel white lighten-2 red-text" style="width: 64%; line-height: 0; height: 12px" hidden></p>
            <form action="/app/register/" method="post" enctype="multipart/form-data">{% csrf_token %}
                {{ form.as_p }}<br/>
            <br><input type="submit" id="submit" value="Submit" class="btnpink col s12" disabled="disabled"/>
        </form>
            </div>
    </div>
    </div>
</div>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <script type="text/javascript">
    function checkPassword() {
            var password = $("#id_password").val();
            var confirmPassword = $("#id_password1").val();
            if (password != confirmPassword) {
                document.getElementById("pwddet").innerHTML = "Passwords do not match";
                document.getElementById("pwddet").hidden = false;
                document.getElementById("submit").disabled = true;
            }
            else {
                document.getElementById("pwddet").innerHTML = "";
                document.getElementById("pwddet").hidden = true;
                document.getElementById("submit").disabled = false;
            }
        }
    $(function() {
            setInterval("checkPassword()", 10);
        });
</script>
{% endblock %}